<a href="https://colab.research.google.com/github/supai-red/DS-Unit-1-Sprint-3-Statistical-Tests-and-Experiments/blob/master/Andrea_Christelle_LS_DS_132_Sampling_Confidence_Intervals_and_Hypothesis_Testing_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment - Build a confidence interval

A confidence interval refers to a neighborhood around some point estimate, the size of which is determined by the desired p-value. For instance, we might say that 52% of Americans prefer tacos to burritos, with a 95% confidence interval of +/- 5%. 

52% (0.52) is the point estimate, and +/- 5% (the interval $[0.47, 0.57]$) is the confidence interval. "95% confidence" means a p-value $\leq 1 - 0.95 = 0.05$.

In this case, the confidence interval includes $0.5$ - which is the natural null hypothesis (that half of Americans prefer tacos and half burritos, thus there is no clear favorite). So in this case, we could use the confidence interval to report that we've failed to reject the null hypothesis.

But providing the full analysis with a confidence interval, including a graphical representation of it, can be a helpful and powerful way to tell your story. Done well, it is also more intuitive to a layperson than simply saying "fail to reject the null hypothesis" - it shows that in fact the data does *not* give a single clear result (the point estimate) but a whole range of possibilities.

How is a confidence interval built, and how should it be interpreted? It does *not* mean that 95% of the data lies in that interval - instead, the frequentist interpretation is "if we were to repeat this experiment 100 times, we would expect the average result to lie in this interval ~95 times."

For a 95% confidence interval and a normal(-ish) distribution, you can simply remember that +/-2 standard deviations contains 95% of the probability mass, and so the 95% confidence interval based on a given sample is centered at the mean (point estimate) and has a range of +/- 2 (or technically 1.96) standard deviations.

Different distributions/assumptions (90% confidence, 99% confidence) will require different math, but the overall process and interpretation (with a frequentist approach) will be the same.

Your assignment - using the data from the prior module ([congressional voting records](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records)):


### Confidence Intervals:
1. Generate and numerically represent a confidence interval
2. Graphically (with a plot) represent the confidence interval
3. Interpret the confidence interval - what does it tell you about the data and its distribution?

### Chi-squared tests:
4. Take a dataset that we have used in the past in class that has **categorical** variables. Pick two of those categorical variables and run a chi-squared tests on that data
  - By hand using Numpy
  - In a single line using Scipy

In [0]:
# TODO - your code!

In [0]:
### YOUR CODE STARTS HERE
import scipy.stats
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel

import pandas as pd
import numpy as np

In [0]:
from google.colab import files 
uploaded = files.upload()

In [0]:
df = pd.read_csv('house-votes-84.data', header=None)
print(df.shape)
df.head()

(435, 17)

           0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16
0  republican  n  y  n  y  y  y  n  n  n  y  ?  y  y  y  n  y
1  republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  ?
2    democrat  ?  y  y  ?  y  y  n  n  n  n  y  n  y  y  n  n
3    democrat  n  y  y  n  ?  y  n  n  n  n  y  n  y  n  n  y
4    democrat  y  y  y  n  y  y  n  n  n  n  y  ?  y  y  y  y

In [0]:
#Adding column headers specified in attribute information at: https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records
df.columns = ["party", "handicapped_infants", "water_project_cost_sharing", "adoption_of_the_budget_resolution","physician_fee_freeze","el_salvador_aid","religious_groups_in_schools","anti_satellite_test_ban","aid_to_nicaraguan_contras","mx_missile","immigration","synfuels_corporation_cutback","education_spending","superfund_right_to_sue","crime","duty_free_exports","export_administration_act_south_africa" ]

print(df.shape)
df.head()

(435, 17)

        party  ... export_administration_act_south_africa
0  republican  ...                                      y
1  republican  ...                                      ?
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [0]:
#Check missing values
df.isna().sum().sum()
#"?" counts as a value, yet provides no information.

0

In [0]:
# Make voting records numeric
df = df.replace({'?':np.NaN, 'n':0, 'y':1})
print(df.shape) 
df.head()

(435, 17)

        party  ...  export_administration_act_south_africa
0  republican  ...                                     1.0
1  republican  ...                                     NaN
2    democrat  ...                                     0.0
3    democrat  ...                                     1.0
4    democrat  ...                                     1.0

[5 rows x 17 columns]

In [0]:
#Defining Republicans
rep = df[df.party == "republican"]
print(rep.shape)
rep.head()

(168, 17)

         party  ...  export_administration_act_south_africa
0   republican  ...                                     1.0
1   republican  ...                                     NaN
7   republican  ...                                     1.0
8   republican  ...                                     1.0
10  republican  ...                                     0.0

[5 rows x 17 columns]

In [0]:
rep_mean = rep.mean()
print(rep_mean)

handicapped_infants                       0.187879
water_project_cost_sharing                0.506757
adoption_of_the_budget_resolution         0.134146
physician_fee_freeze                      0.987879
el_salvador_aid                           0.951515
religious_groups_in_schools               0.897590
anti_satellite_test_ban                   0.240741
aid_to_nicaraguan_contras                 0.152866
mx_missile                                0.115152
immigration                               0.557576
synfuels_corporation_cutback              0.132075
education_spending                        0.870968
superfund_right_to_sue                    0.860759
crime                                     0.981366
duty_free_exports                         0.089744
export_administration_act_south_africa    0.657534
dtype: float64

In [0]:
dem_mean = dem.mean()
print(dem_mean)

handicapped_infants                       0.604651
water_project_cost_sharing                0.502092
adoption_of_the_budget_resolution         0.888462
physician_fee_freeze                      0.054054
el_salvador_aid                           0.215686
religious_groups_in_schools               0.476744
anti_satellite_test_ban                   0.772201
aid_to_nicaraguan_contras                 0.828897
mx_missile                                0.758065
immigration                               0.471483
synfuels_corporation_cutback              0.505882
education_spending                        0.144578
superfund_right_to_sue                    0.289683
crime                                     0.350195
duty_free_exports                         0.637450
export_administration_act_south_africa    0.935135
dtype: float64

In [0]:
#Defining Democrats
dem = df[df.party == "democrat"]
print(dem.shape)
dem.head()

(267, 17)

      party  ...  export_administration_act_south_africa
2  democrat  ...                                     0.0
3  democrat  ...                                     1.0
4  democrat  ...                                     1.0
5  democrat  ...                                     1.0
6  democrat  ...                                     1.0

[5 rows x 17 columns]

In [0]:
# rep_mean = rep.mean()

##Generate and numerically represent a confidence interval

In [0]:
CI = t.interval(.99, n-1, loc=mean, scale=std_err)

NameError: ignored

In [0]:
# sample_mean =np
#  sample_size =
#  sample_std_dev =
#  standard_error =
#  margin_of_error =

# "dem_drop = dem.dropna()"

# def confidence_interval(data, confidence_level=.95):

#   data = np.array(data) ##?
#   sample_mean = np.mean(data)
#   sample_size = len(data)
#   sample_std_dev = np.std(data, ddof=1)
#   standard_error = sample_std_dev / (sample_size**.5)
#   margin_of_error = standard_error * stats.t.ppf((1 + confidence) / 2.0, sample_size - 1)
#   return (sample_mean, sample_means , margin_of_error, sample_mean + margin_of_error)  

# confidence_interval(dem)
##############################
# CI_immigration = t.interval(.99, n-1, loc=mean, scale=std_err)

# #stats.norm.interval(0.68, loc=mu, scale=sigma)

# CI = t.interval(.95, dof, loc-mean, scale=std_err)
# # t has many methods
# print ("95% Confidence level ")

TypeError: ignored

In [0]:
#chi squared

In [0]:
chi_squared, p_value, dof, expected = stats.chi2_contingency(contingency)

print(f"Chi-Squared: {chi_squared}")

## Stretch goals:

1. Write a summary of your findings, mixing prose and math/code/results. *Note* - yes, this is by definition a political topic. It is challenging but important to keep your writing voice *neutral* and stick to the facts of the data. Data science often involves considering controversial issues, so it's important to be sensitive about them (especially if you want to publish).
2. Apply the techniques you learned today to your project data or other data of your choice, and write/discuss your findings here.
3. Refactor your code so it is elegant, readable, and can be easily run for all issues.

## Resources

- [Interactive visualize the Chi-Squared test](https://homepage.divms.uiowa.edu/~mbognar/applets/chisq.html)
- [Calculation of Chi-Squared test statistic](https://en.wikipedia.org/wiki/Pearson%27s_chi-squared_test)
- [Visualization of a confidence interval generated by R code](https://commons.wikimedia.org/wiki/File:Confidence-interval.svg)
- [Expected value of a squared standard normal](https://math.stackexchange.com/questions/264061/expected-value-calculation-for-squared-normal-distribution) (it's 1 - which is why the expected value of a Chi-Squared with $n$ degrees of freedom is $n$, as it's the sum of $n$ squared standard normals)